* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

li,
button,
label,
input,
a,
p {
  font-size: 1.5rem;
  font-weight: 200;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
}

h4,
h5 {
  font-size: 1rem;
}

.all {
  min-height: 100vh;
  overflow: hidden;
}

.speech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 40%;
  margin: auto;
  padding-top: 4rem;
  color: #4c4e61;
}

.speech h1:first-child {
  font-weight: 200;
}

.speech p {
  padding-top: 1rem;
}

.container {
  min-height: 80vh;
  position: relative;
}

.boxes {
  padding-top: 5%;
  width: 80%;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.box {
  position: relative;
  padding: 2rem 3rem 4rem 1rem;
}

.box img {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: -3;
}

.box h2,
.box p {
  z-index: 1;
  padding: 2rem;
}

.box:hover {
  -webkit-animation: hover 0.5s ease-in alternate forwards;
          animation: hover 0.5s ease-in alternate forwards;
}

.box:not(:hover) {
  -webkit-animation: hover2 0.5s ease-in alternate forwards;
          animation: hover2 0.5s ease-in alternate forwards;
}

.supervisor {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 0px -8px 2px -3px #45d3d3, 0px 7px 22px -4px rgba(0, 0, 0, 0.53);
          box-shadow: 0px -8px 2px -3px #45d3d3, 0px 7px 22px -4px rgba(0, 0, 0, 0.53);
}

.team-builder {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -webkit-box-shadow: 0px -8px 2px -3px #ea5353, 0px 7px 22px -4px rgba(0, 0, 0, 0.53);
          box-shadow: 0px -8px 2px -3px #ea5353, 0px 7px 22px -4px rgba(0, 0, 0, 0.53);
}

.karma {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -webkit-box-shadow: 0px -8px 2px -3px #fcaf4a, 0px 7px 22px -4px rgba(0, 0, 0, 0.53);
          box-shadow: 0px -8px 2px -3px #fcaf4a, 0px 7px 22px -4px rgba(0, 0, 0, 0.53);
}

.calculator {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 0px -8px 2px -3px #549ef2, 0px 7px 22px -4px rgba(0, 0, 0, 0.53);
          box-shadow: 0px -8px 2px -3px #549ef2, 0px 7px 22px -4px rgba(0, 0, 0, 0.53);
}

footer {
  text-align: center;
}

@-webkit-keyframes hover {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  to {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
  }
}

@keyframes hover {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  to {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
  }
}

@-webkit-keyframes hover2 {
  from {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
  }
  to {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes hover2 {
  from {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
  }
  to {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@media screen and (max-width: 930px) {
  .speech {
    width: 60%;
  }
  .boxes {
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
  }
  .supervisor {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .team-builder {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .karma {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .calculator {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media screen and (max-width: 650px) {
  .speech {
    width: 90%;
  }
  .boxes {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .supervisor {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .team-builder {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .karma {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .calculator {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-height: 850px) {
  html {
    font-size: 75%;
  }
}

@media screen and (min-height: 1000px) {
  html {
    font-size: 80%;
  }
}

@media screen and (min-height: 1100px) {
  html {
    font-size: 85%;
  }
}

@media screen and (min-height: 1200px) {
  html {
    font-size: 90%;
  }
}

@media screen and (min-height: 1300px) {
  html {
    font-size: 100%;
  }
}

@media screen and (min-height: 1300px) {
  html {
    font-size: 110%;
  }
}
/*# sourceMappingURL=style.css.map */